<div class="container">
    <div _ngcontent-kks-c1="" class="footerArea2">
        <div _ngcontent-kks-c1="" class="container footer">
            <div _ngcontent-kks-c1="" class="detail_left">
                <div _ngcontent-kks-c1="" class="logo_area_footer"><img _ngcontent-kks-c1="" alt="" src="/assets/images/logo/logo.png"></div>
            </div>
            <div _ngcontent-kks-c1="" class="detail_right">
                <div  class="logo_footer">
                    <div  class="menu_footer_">
                        <span  class="links_footer" routerLink="/page/register" style="border-left: 0px !important;" tabindex="0" ng-reflect-router-link="/home">สมัครสมาชิก</span>
                        <span  class="links_footer" routerLink="/page/deposit" tabindex="0" >แจ้งฝาก</span>
                        <span  class="links_footer" routerLink="/page/withdraw" tabindex="0" >แจ้งถอน</span>
                        <span  class="links_footer" routerLink="/page/howtoplay" tabindex="0" >ทางเข้าเล่น</span>
                        <span  class="links_footer" routerLink="/page/contact" style="border-right: 0px !important;" tabindex="0" >ติดต่อเรา</span>
                    </div>
                </div>

                <div _ngcontent-kks-c1="" class="footer_visa" style="float: right; clear:both;margin-right:8px;margin-top:20px;">
                        <div _ngcontent-kks-c1="" style="float: right;clear: both;"><img _ngcontent-kks-c1="" class="tt_img_hover" src="assets/images/footer/bank.png"></div>
                    <div _ngcontent-kks-c1="" style="float: right;clear: both;"><img _ngcontent-kks-c1="" class="tt_img_hover" src="assets/images/footer/visa.png"></div>
                    <div _ngcontent-kks-c1="" style="font-size: 12px; color: #B28E51;float: right; clear: both;">COPYRIGHT©2018,DJ99BET.COM</div>
                </div>
            </div>
        </div>
    </div>
</div>
