<div _ngcontent-kks-c1="" class="footerArea2">
    <div _ngcontent-kks-c1="" class="container footer">
        <div _ngcontent-kks-c1="" class="detail_left">
            <div _ngcontent-kks-c1="" class="logo_area_footer"><img _ngcontent-kks-c1="" alt="" src="/assets/images/logo/logo.png"></div>
        </div>
        <div _ngcontent-kks-c1="" class="detail_right">
            <div _ngcontent-kks-c1="" class="social_area_footer">
                <div _ngcontent-kks-c1="" class="line_icon_footer"><img _ngcontent-kks-c1="" alt="" src="assets/images/icon/line-icon.png" style="width: 30px;float: left;"></div>
                <div _ngcontent-kks-c1="" class="line_text_footer" style="float: left;"> Line ID : @dj99 </div>
            </div>
            <div _ngcontent-kks-c1="" class="footer_visa" style="float: right; clear:both;margin-right:8px;margin-top:20px;">
                <div _ngcontent-kks-c1="" style="float: right;clear: both;"><img _ngcontent-kks-c1="" class="tt_img_hover" src="assets/images/footer/visa.png"></div>
                <div _ngcontent-kks-c1="" style="color: white;float: right; clear: both;">COPYRIGHT©2018,DJ99BET.COM</div>
            </div>
        </div>
    </div>
</div>