<div class="container">
        <div *ngIf="showHeader"  class="{{class_checkShow}}" >
                <div  _ngcontent-yso-c0="" class="header-area">
                    <div _ngcontent-yso-c0="" class="container" style="position: relative;">
                        <div _ngcontent-yso-c0="" class="logo_area"><img _ngcontent-yso-c0="" alt="DJ99BET" routerLink="/" src="assets/images/logo/logo.png" srcset="assets/images/logo/logo.png" tabindex="0" ng-reflect-router-link="/"></div>
                        <!-- <div _ngcontent-yso-c0="" class="button_area">
                            <div _ngcontent-yso-c0="" class="login_icon"><img _ngcontent-yso-c0="" alt="" routerLink="/page/login" src="assets/images/icon/login.jpg" tabindex="0" ng-reflect-router-link="/page/login"></div>
                            <div _ngcontent-yso-c0="" class="register_icon"><img _ngcontent-yso-c0="" alt="" routerLink="/page/register" src="assets/images/icon/register1.jpg" tabindex="0" ng-reflect-router-link="/page/register"></div>
                        </div>
                        <div _ngcontent-yso-c0="" class="social_area">
                            <div _ngcontent-yso-c0="" class="line_icon"><img _ngcontent-yso-c0="" alt="" src="assets/images/icon/line-icon.png"></div>
                            <div _ngcontent-yso-c0="" class="line_text"> Line ID : @dj99 </div>
                        </div> -->
                        <div _ngcontent-jev-c0="" class="area_login">

                            <div class="textLogin">Login เพื่อฝาก-ถอน</div>

                            <div _ngcontent-jev-c0="" class="area_login_from">
                                <form _ngcontent-jev-c0="" action="http://ts911go.com/api/loginUfabet.php" autocomplete="off" id="form2" method="post" name="form2" novalidate="" class="ng-untouched ng-pristine ng-valid">
                                    <div _ngcontent-jev-c0="" class="input-group mb-2" style="width: 200px; float: left; margin-right: 5px;">
                                        <div _ngcontent-jev-c0="" class="input-group-prepend">
                                            <div _ngcontent-jev-c0="" class="input-group-text" style="border-radius: 0;"><i _ngcontent-jev-c0="" aria-hidden="true" class="fa fa-user"></i></div>
                                        </div>
                                        <input _ngcontent-jev-c0="" id="ac" name="ac" type="hidden" value="loginUfabet">
                                        <input _ngcontent-jev-c0="" class="form-control" id="inlineFormInputGroup" name="username" placeholder="Username" style="border-radius: 0; border:0px;" type="text">
                                    </div>
                                    <div _ngcontent-jev-c0="" class="input-group mb-2" style="width: 200px;float: left; margin-right: 5px;">
                                        <div _ngcontent-jev-c0="" class="input-group-prepend">
                                            <div _ngcontent-jev-c0="" class="input-group-text" style="border-radius: 0;"><i _ngcontent-jev-c0="" aria-hidden="true" class="fa fa-lock"></i></div>
                                        </div>
                                        <input _ngcontent-jev-c0="" class="form-control" id="inlineFormInputGroup" name="password" placeholder="Password" style="border-radius: 0; border:0px;" type="password">
                                    </div>
                                    <div _ngcontent-jev-c0="" class="btn_login_from" onclick="doPostBackBetufa('btnSignIn','')">login</div>
                                </form>
                            </div>
                        </div>
                    </div>
                <!-- <div class="header">
                    <div class="logo"><img src="/assets/img/logo/logo.png" alt=""></div>
                    <div class="div_social">
                        <div class="qr"><img src="/assets/img/social/qr_code.png" alt=""></div>
                        <div class="line"><img src="/assets/img/social/line-id.png" alt=""></div>
                    </div>
                    <div class="login_area">
                        
                    </div>
                </div> -->
                <!--  -->
                 
                </div>
                <app-navbar *ngIf="showHeader"></app-navbar>
            </div>
</div>

    <router-outlet></router-outlet>
<!-- <div class="m_footer col-xs-12">
    <div class="col-xs-3" routerLink="/home"><img src="assets/images/footer/icon-home.png"></div>
    <div class="col-xs-3" ><a href="http://line.me/ti/p/~@ufavip9" target="_bank"><img src="assets/images/footer/icon-line.png"></a></div>
    <div class="col-xs-3" routerLink="/promotion"><img src="assets/images/footer/icon_guide.png"></div>
    <div class="col-xs-3" routerLink="/page/register" ><img src="assets/images/footer/icon_add.png"></div>
</div>
<app-footer *ngIf="showHeader"></app-footer> -->
<app-footer *ngIf="showHeader"></app-footer>